<%= render 'shared/header', title: 'Edit this User' %>
<%= render 'shared/errors', container: @user %>
<%= render 'form', submit_msg: 'Save Changes' %>
<div id='foot_links'>
  <%= link_to 'Cancel', show_user_path(@user) %>
</div>
