<%= render 'shared/header', title: 'People' %>

<div id='body'>
  <p><%= link_to 'Create a New User', new_user_path %></p>
  <% @users.each do |user| %>
    <p><%= link_to user.name, show_user_path(user) %></p>
  <% end %>
</div>
