<%= render 'shared/header', title: 'Register a New User' %>
<%= render 'shared/errors', container: @user %>
<%= render 'form', submit_msg: 'Register!' %>
<div id='foot_links'>
  <%= link_to 'Cancel', users_path %>
</div>
