<div id='header'>
  <div id='home_logo'>
    <%= link_to 'Piggy Lunch (home_logo)', root_path %>
  </div>
  <div id='page_title'>
    <%= title %>
  </div>
  <div class='header_tab'>
    <%= link_to 'Restaurants', restaurants_path %>
  </div>
  <div class='header_tab'>
    <%= link_to 'People', users_path %>
  </div>
</div>
