<div id='header'>
  <div id='home_logo'>
    <%= link_to image_tag("sign.png"), root_path, id: 'home_text' %>
  </div>
  <div id='page_title'>
    <%= title %>
  </div>
  <div class='header_tab' id='restaurant_tab'>
    <%= link_to 'Restaurants', restaurants_path %>
  </div>
  <div class='header_tab' id='user_tab'>
    <%= link_to 'People', users_path %>
  </div>
</div>
