<%= render 'shared/header', title: 'Add a New Restaurant' %>

<div id='body'>
  <%= render 'shared/errors', container: @restaurant %>
  <%= render 'form', url: new_restaurant_path, submit_msg: 'Add Restaurant!' %>
  <div id='foot_links'>
    <%= link_to 'Cancel', restaurants_path %>
  </div>
</div>
